{:titles
 [#political_canvas.shared.refdata.data.Title{:code "Mr", :codes ["Mr"], :translation {:en_us "Male name prefix"}}
  #political_canvas.shared.refdata.data.Title{:code "Ms", :codes ["Ms"], :translation {:en_us "Female name prefix"}}
  #political_canvas.shared.refdata.data.Title{:code "Dr", :codes ["Dr"], :translation {:en_us "A doctorate, doctor, or dentist"}}
  ]
 }